<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
        <script src="https://kit.fontawesome.com/a5c4f7a4d5.js" crossorigin="anonymous"></script> <!-- Font awesome for icons-->
    </head>
    <body>
        <header>
            <h1><%= title %></h1>
            <button>
                New Message
            </button>
        </header>
        <div class="content">
            <div class="form-wrapper">
                <!-- Web form with post method to /new, we catch this request on the router -->
                <form class="new-message" method="POST" action="/new">
                    <h2>Share your thoughts</h2>
                    <!-- The data submitted on each of the fields is available on req.body().<name> -->
                    <div class="form-field">
                        <label for="username">Name:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-field">
                        <label for="message">Your message <span>(max 150 char)</span>:</label>
                        <textarea name="message" id="message" maxlength="150" required></textarea>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <!-- Render the messages in reverse order so that the last message that was sent appears at the top of the board -->
            <% for(message of [...messages].reverse()){ %>
                <div class="message">
                    <div class="user-info">
                        <p class="author">
                            <%= message.username %>
                        </p>
                        <!-- Use the formatted date, make sure formattedDate is made available to the locals -->
                        <p class="date">
                            Sent <%= formattedDate(message.timestamp,locals.userTimezone) %>
                        </p>
                    </div>
                    <div class="message-body">
                        <p>
                            <%= message.message %>
                        </p>
                    </div>
                </div>
            <%}%>
        </div>
        <%- include('footer', {link: locals.profileLink}) %>
    </body>
    <script>
        //This script achieves a roll down effect of the web form on click the new message button, see the css file
        const newMessage = document.querySelector('header button');
        newMessage.addEventListener('click',showMessageForm);

        function showMessageForm(){
            const form = document.querySelector('.form-wrapper');
            form.classList.add('show');
        }
    </script>
</html>